.student-selector-container{
    margin: 20px 20px 100px 20px;
}
.scrollable-table-container {
    max-height: 400px; /* Beállíthatod a kívánt maximális magasságot */
    overflow-y: auto;  /* Automatikus függőleges görgetés, ha szükséges */
    margin-bottom: 10px;
    border: 1px solid #ddd; /* A táblázat körüli keret */
  }
input{
  border: black 1px solid;
  border-radius: 6px;
  display: flex;
  margin: 30px;
  font-size: 20px;
  padding: 10px;
  width: 400px;
  text-align: center;
}
  #studentsTable tbody tr:hover td{
    background-color: #e87777;
    border: #e87777 1px solid;
    cursor: pointer;
  }
  #studentsTable tbody tr.active-row td {
    background-color: #e87777;
    border: 1px solid #e87777;
  }
  
  #studentsTable tbody tr td{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  #studentsTable thead th{
    font-size: 18px;
    background-color: #d0d0d0;

  }
  #edit-container{
    display: flex;
    margin: 10px;
    justify-content: end;
  }
  #edit-student-container-forms{
    display: flex;
    margin-top: 60px;
  }
  #edit-student-container{
    margin-left: 120px;
  }
  #edit-student-subjects-container h2 {
    float: right;
    margin-right: 70px;
    margin-bottom: 40px;
  }
  #edit-student-subjects-container{
    margin-right: 80px;
  }
  #student-buttons-container{
    display: flex;
    justify-content: center;
    margin: 60px 0 15px 0;
    gap: 20px;
  }
  .student-button{
    width: 200px;
    height: 70px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
  }
  .student-button:active{
    position: relative;
    top: 2px;
  }
  #save-button{
    background-color: rgb(34, 132, 27);
  }
  #save-button:hover{
    background-color: rgb(27, 107, 21);
  }
  #delete-button{
    background-color: #d40606;
  }
  #delete-button:hover{
    background-color: #ba0b0b;
  }
  .list-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    gap: 20px;
  }
.list-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#left, #right {
  width: 260px;
  min-height: 300px;
  margin: 20px 0;
  border: 2px dashed black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.list {
  margin: 8px;
  min-height: 50px;
  width: 200px;
  font-size: 18px;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #B22222;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  word-break: break-word;
}