body {
    background-image: url('../assets/images/graduation2.webp');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
  }
    h1{
      padding: 10px;
    }
    #selectorContainer{
        gap: 15px;
    }
    select{
        min-height: 30px;
        padding: 10px;
        border: black solid 1.5px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 16px;
    }
    select option{
        font-weight: 600;
    }
    #content{
        background-color: #ffffffc3;
        height: fit-content;
        margin: auto;
        height: auto;
        padding-bottom: 1px;
        min-height: 100vh;
    }
    .container{
        width: 85%;
        max-width: none;
    }

    
      
    /*.diagram widtfh: 48% kell és akkor dinamikus*/
    .nav-link{
        font-size: large;
    }
    input{
      border: black 1px solid;
      border-radius: 6px;
      font-size: 20px;
      padding: 10px;
      margin: 20px;
      width: 280px;
      min-width: 200px;
      text-align: center;
    }
    button{
      width: 200px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #B22222;
    }
    button:active{
      position: relative;
      top: 2px;
    }


.tableStyle:not(.no-hover) tbody tr:hover td{
  background-color: #e87777;
    border: #e87777 1px solid;
    cursor: pointer;
}
.tableStyle tbody tr.active-row td {
  background-color: #e87777;
  border: 1px solid #e87777;
}
.tableStyle tbody tr td{
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  align-content: center;
}
.tableStyle thead th{
  font-size: 18px;
  background-color: #d0d0d0;
  align-content: center;
}
.tableStyle{
  margin: 0px;
}
.deleteButtonStyle{
  background-color: #d40606;
}
.deleteButtonStyle:hover{
  background-color: #ba0b0b;
}
.saveButtonStyle{
  background-color: rgb(34, 132, 27);
}
.saveButtonStyle:hover{
  background-color: rgb(27, 107, 21);
}
.scrollable-table-container {
  max-height: 400px; /* Beállíthatod a kívánt maximális magasságot */
  overflow-y: auto;  /* Automatikus függőleges görgetés, ha szükséges */
  margin-bottom: 10px;
  border: 1px solid #ddd; /* A táblázat körüli keret */
}