 .form-inputs-container{
    display: flex;
    justify-content: center;

  }
  .form-button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  #edit-form-button-container{
    gap: 30px;
  }
  #edit-form-button-container button{
    gap: 30px;
    width: 200px;
  }
  button:active{
    position: relative;
    top: 2px;
  }